<%= form_for(@greeting) do |f| %>
  <% if @greeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@greeting.errors.count, "error") %> prohibited this greeting from being saved:</h2>

      <ul>
      <% @greeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :stranger %><br>
    <%= f.check_box :stranger %>
  </div>
  <div class="field">
    <%= f.label :time_of_day %><br>
    <%= f.text_field :time_of_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
